<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCue2u11iHal_UlrscZhxFycun9dgqo5-g</string>
	<key>GCM_SENDER_ID</key>
	<string>77545072676</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.dyslexiaProject</string>
	<key>PROJECT_ID</key>
	<string>dyslexia-project-isaacch-a33a0</string>
	<key>STORAGE_BUCKET</key>
	<string>dyslexia-project-isaacch-a33a0.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:77545072676:ios:eb2360c85c963af14450b1</string>
</dict>
</plist>